In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('est-testanalysis.xlsx')

In [3]:
df.head()

,1,District Name,Block Name,Migrant Age,Migrant Gender,Migrant ID type,Date of Arrival,City Coming From,Health Check up when leaving city?,Skill,Years of Experience,Alternate Skill,Where did you work,19
0,1,BASTI SADAR,BAHADUR PUR,15.0,M,ADHAR,2020-09-05 00:00:00,MUMBAI,YES,LABOUR,7,NaN,NaN,NaN
1,2,BASTI SADAR,BAHADUR PUR,22.0,M,ADHAR,2020-09-05 00:00:00,MUMBAI,YES,LABOUR,5,NaN,NaN,NaN
2,3,BASTI SADAR,Bahadur pur,20.0,F,NaN,29-04-2020,Prayagraj,YES,NaN,NaN,NaN,NaN,NaN
3,4,BASTI SADAR,Bahadur pur,21.0,M,NaN,29-04-2020,Prayagraj,YES,NaN,NaN,NaN,NaN,NaN
4,5,BASTI SADAR,Bahadur pur,21.0,M,NaN,29-04-2020,Prayagraj,YES,NaN,NaN,NaN,NaN,NaN

In [4]:
df.drop([19], axis = 1, inplace = True)

In [5]:
df.rename(columns = {1: 'S.No.'},inplace=True)

In [6]:
df.head()

,S.No.,District Name,Block Name,Migrant Age,Migrant Gender,Migrant ID type,Date of Arrival,City Coming From,Health Check up when leaving city?,Skill,Years of Experience,Alternate Skill,Where did you work
0,1,BASTI SADAR,BAHADUR PUR,15.0,M,ADHAR,2020-09-05 00:00:00,MUMBAI,YES,LABOUR,7,NaN,NaN
1,2,BASTI SADAR,BAHADUR PUR,22.0,M,ADHAR,2020-09-05 00:00:00,MUMBAI,YES,LABOUR,5,NaN,NaN
2,3,BASTI SADAR,Bahadur pur,20.0,F,NaN,29-04-2020,Prayagraj,YES,NaN,NaN,NaN,NaN
3,4,BASTI SADAR,Bahadur pur,21.0,M,NaN,29-04-2020,Prayagraj,YES,NaN,NaN,NaN,NaN
4,5,BASTI SADAR,Bahadur pur,21.0,M,NaN,29-04-2020,Prayagraj,YES,NaN,NaN,NaN,NaN

In [7]:
df.shape

(710, 13)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 710 entries, 0 to 709
Data columns (total 13 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   S.No.                               710 non-null    int64
 1   District Name                       710 non-null    object
 2   Block Name                          710 non-null    object
 3   Migrant Age                         707 non-null    float64
 4   Migrant Gender                      710 non-null    object
 5   Migrant ID type                     680 non-null    object
 6   Date of Arrival                     710 non-null    object
 7   City Coming From                    706 non-null    object
 8   Health Check up when leaving city?  700 non-null    object
 9   Skill                               644 non-null    object
 10  Years of Experience                 596 non-null    object
 11  Alternate Skill                     106 non-null    object
 12  Where did you work                  119 non-null    object
dtypes: float64(1), int64(1), object(11)
memory usage: 72.2+ KB

In [9]:
df['District Name'].unique()

array(['BASTI SADAR', 'HARRAIYA', 'BAST BASTI SADAR', 'BHANPUR',
       'RUDHAULI'], dtype=object)

In [10]:
df['District Name'].replace({'BAST BASTI SADAR':'BASTI SADAR'}, inplace=True)

In [11]:
df['District Name'].unique()

array(['BASTI SADAR', 'HARRAIYA', 'BHANPUR', 'RUDHAULI'], dtype=object)

In [12]:
df['Block Name'].unique()

array(['BAHADUR PUR', 'Bahadur pur', 'Bahadur Pur', 'BAHADURPUR',
       'Bahdhur', 'BAHDURPR', 'BAHDURPUR', 'Bhadhur', 'BHADHUR',
       'Bhadhur pur', 'BHADHUR PUR', 'Bhadhurpur', 'BHADHURPUR',
       'BHADURPUR', 'बहादुरपुर'], dtype=object)

In [13]:
df.replace(['BAHADUR PUR', 'Bahadur pur', 'Bahadur Pur','Bahdhur', 'BAHDURPR', 'BAHDURPUR', 'Bhadhur', 'BHADHUR',
       'Bhadhur pur', 'BHADHUR PUR', 'Bhadhurpur', 'BHADHURPUR',
       'BHADURPUR', 'बहादुरपुर'], 'BAHADURPUR',inplace=True)

In [14]:
df['Block Name'].unique()

array(['BAHADURPUR'], dtype=object)

In [15]:
df['Migrant Gender'].unique()

array(['M', 'F', 'U'], dtype=object)

In [16]:
df['Migrant Age']=df['Migrant Age'].fillna(df['Migrant Age'].mean())

In [17]:
df['Migrant ID type'].unique()

array(['ADHAR', nan, 'AADHAR', 'VOTER ID', 'AADHARE', 'ADDHAR', 'OTER ID',
       'vk/kkj', 'PAN CARD', 'AAHAR'], dtype=object)

In [18]:
df['Migrant ID type'].replace({'ADHAR':'AADHAR', 'AADHARE':'AADHAR','ADDHAR':'AADHAR','OTER ID':'VOTER ID','AAHAR':'AADHAR'}, inplace=True)

In [19]:
df['Migrant ID type'].unique()

array(['AADHAR', nan, 'VOTER ID', 'vk/kkj', 'PAN CARD'], dtype=object)

In [20]:
df['Migrant ID type'].isnull().sum()

30

In [21]:
df['Migrant ID type']=df['Migrant ID type'].fillna('Unidentified')

In [22]:
df['Migrant ID type'].unique()

array(['AADHAR', 'Unidentified', 'VOTER ID', 'vk/kkj', 'PAN CARD'],
      dtype=object)

In [23]:
df['City Coming From'].unique()

array(['MUMBAI', 'Prayagraj', 'DELHI', 'INDORE', 'FARIDABAD', 'HYDRABAD',
       'GUJRAT', 'MADHYA PRADESH', 'ANDHRA PRADESH', 'GURGAON',
       'AHAMADABAD', 'KANPUR', 'ALIGARH', 'GONDA', nan, 'AMRITSAR',
       'RAJASTHAN', 'BOMBAY', 'BALLABHGARH', 'NOIDA', 'AHEMADABAD',
       'NAGPUR', 'MATHURA', 'AHAMDABAD', 'BHIMANDI', 'THANE', 'PUNE',
       'SURAT', 'HAPUR', 'SAHARANPUR', 'HARYANA', 'BHIWNDI', 'AHMEDABAD',
       'TELANGANA', 'HARIYANA', 'BHIWANDI', 'JALGAUV', 'RAJSTHAN',
       'MAHARASTRA', 'KERALA', 'BRODARA', 'BANGOLORE', 'KERLA',
       'MHARSATRA', 'LUCKNOW', 'GUDGAWA', 'NAGH PUR', 'MHARASTRA',
       'AMDABAD', 'BANGLOR', 'JHASI', 'PUNA', 'SAHARAN PUR', 'HARAYAN',
       'CHNADI GHAR', 'GAZIYABAD', 'NASIK', 'VASAI MUMBAI', 'BEGLORE',
       'ULWAY MUMBAI', 'मुम्बई', 'मुम्बई भिवडी', 'सूरत', 'हैदराबाद',
       'तेलंगाना', 'लुधियाना', 'हापुड', 'मुम्बई मानखुर्द एकतानगर',
       'गुजरात गोधरा', 'थाने', 'वसई', 'बसई', 'अन्धेरी बेस्ट', 'पुणे',
       'गुजरात', 'केरल', 'MUMBAI CST', 'AHAMADNAGAR', 'BELAUR', 'NIGOJ',
       'MMBAI', 'MAHARSHTRA', 'fnYyh', 'Fkkus', 'eqEcbZ', 'POONA',
       'MUMABAI', 'HENFRABAD', 'HAIDRABAD', 'BANGLORE', 'RAJESTHA',
       'SOLAPUR', 'AGRA', 'JAMMU', 'GUJRAAT', 'BEGOLOR', 'AGARA',
       'AHMADABAD', 'कानपुर', 'अहमदाबाद'], dtype=object)

In [24]:
df['City Coming From'].replace(['VASAI MUMBAI','ULWAY MUMBAI','मुम्बई', 'मुम्बई भिवडी','BOMBAY','मुम्बई मानखुर्द एकतानगर','MUMBAI CST','MMBAI','MUMABAI'], 'MUMBAI',inplace=True)

In [25]:
df['City Coming From'].replace(['MAHARASTRA','MHARSATRA','MHARASTRA','MAHARSHTRA'], 'Maharashtra',inplace=True)

In [26]:
df['City Coming From'].replace(['HARIYANA','HARAYAN','Haryana'], 'HARYANA',inplace=True)

In [27]:
df['City Coming From'].replace(['GUJRAT','गुजरात गोधरा','गुजरात','GUJRAAT'],'GUJARAT',inplace=True)

In [28]:
df['City Coming From'].replace(['BANGOLORE','BANGLOR', 'BEGLORE','BANGLORE','BEGOLOR'], 'Bangalore',inplace=True)

In [29]:
df['City Coming From'].replace(['AHAMADABAD','AHEMADABAD','AHAMDABAD','AMDABAD','AHMADABAD','अहमदाबाद'],'AHMEDABAD',inplace=True)

In [30]:
df['City Coming From'].replace(['HYDRABAD','HENFRABAD', 'HAIDRABAD','हैदराबाद'], 'HYDERABAD',inplace=True)

In [31]:
df['City Coming From'].replace(['fnYyh', 'Fkkus', 'eqEcbZ'], "don't know",inplace=True)

In [32]:
df['City Coming From'].replace(['KERLA','केरल'], 'KERALA',inplace=True)

In [33]:
df['City Coming From'].replace(['हापुड'], 'HAPUR',inplace=True)

In [34]:
df['City Coming From'].replace(['NAGH PUR'], 'NAGPUR',inplace=True)

In [35]:
df['City Coming From'].replace(['BHIMANDI','BHIWNDI'], 'BHIWANDI',inplace=True)

In [36]:
df['City Coming From'].replace(['कानपुर'], 'KANPUR',inplace=True)

In [37]:
df['City Coming From'].replace(['AGARA'], 'AGRA',inplace=True)

In [38]:
df['City Coming From'].replace(['GUDGAWA'], 'GURGAON',inplace=True)

In [39]:
df['City Coming From'].replace(['RAJESTHA','RAJSTHAN'], 'RAJASTHAN',inplace=True)

In [40]:
df['City Coming From']=df['City Coming From'].fillna('Unidentified')

In [41]:
df['City Coming From'].replace(['पुणे','POONA'], 'PUNE',inplace=True)

In [42]:
df['City Coming From'].unique()

array(['MUMBAI', 'Prayagraj', 'DELHI', 'INDORE', 'FARIDABAD', 'HYDERABAD',
       'GUJARAT', 'MADHYA PRADESH', 'ANDHRA PRADESH', 'GURGAON',
       'AHMEDABAD', 'KANPUR', 'ALIGARH', 'GONDA', 'Unidentified',
       'AMRITSAR', 'RAJASTHAN', 'BALLABHGARH', 'NOIDA', 'NAGPUR',
       'MATHURA', 'BHIWANDI', 'THANE', 'PUNE', 'SURAT', 'HAPUR',
       'SAHARANPUR', 'HARYANA', 'TELANGANA', 'JALGAUV', 'Maharashtra',
       'KERALA', 'BRODARA', 'Bangalore', 'LUCKNOW', 'JHASI', 'PUNA',
       'SAHARAN PUR', 'CHNADI GHAR', 'GAZIYABAD', 'NASIK', 'सूरत',
       'तेलंगाना', 'लुधियाना', 'थाने', 'वसई', 'बसई', 'अन्धेरी बेस्ट',
       'AHAMADNAGAR', 'BELAUR', 'NIGOJ', "don't know", 'SOLAPUR', 'AGRA',
       'JAMMU'], dtype=object)

In [43]:
df['Health Check up when leaving city?'].unique()

array(['YES', '-', 'Yes', nan, 'हाॅ', 'हां', 'gka'], dtype=object)

In [44]:
df['Health Check up when leaving city?'].replace(['Yes', 'हाॅ', 'हां'], 'YES',inplace=True)

In [45]:
df['Health Check up when leaving city?'].replace([ '-'], 'NO',inplace=True)

In [46]:
df['Health Check up when leaving city?']=df['Health Check up when leaving city?'].fillna('NO')

In [47]:
df['Years of Experience'].unique()

array([7, 5, nan, 2, 1, 6, 3, 4, 8, 15, 10, 25, 13, 9, 20, 33, 18, 11, 40,
       19, 27, 17, 12, 30, '4माह', '5माह', '2MONTHS', '6MONTH', 22, 14,
       28], dtype=object)

In [48]:
df['Years of Experience'].replace(to_replace = '4माह', value =0.3,inplace=True)

In [49]:
df['Years of Experience'].replace(to_replace = '5माह', value =0.4,inplace=True)

In [50]:
df['Years of Experience'].replace(to_replace = '2MONTHS', value =0.1,inplace=True)

In [51]:
df['Years of Experience'].replace(to_replace = '6MONTH', value =0.5,inplace=True)

In [52]:
df['Years of Experience'].unique()

array([ 7. ,  5. ,  nan,  2. ,  1. ,  6. ,  3. ,  4. ,  8. , 15. , 10. ,
       25. , 13. ,  9. , 20. , 33. , 18. , 11. , 40. , 19. , 27. , 17. ,
       12. , 30. ,  0.3,  0.4,  0.1,  0.5, 22. , 14. , 28. ])

In [53]:
df['Years of Experience']=df['Years of Experience'].fillna(df['Years of Experience'].mean())

In [54]:
df['Where did you work'].unique()

array([nan, 'MAJDURI', 'MAJDUI', 'CENTRING', 'PAINTING', 'HOME', 'OTHER',
       'HAZI BABA', 'WAGE', 'D D CORE F6', 'ADIYA INTERPRIZE', 'PVT',
       'ACCAT COMPANEY', 'MUMBAI', 'BEGLORE', 'TRAK', 'मुम्बई', 'सूरत',
       'हैदराबाद', 'तेलंगाना', 'लुधियाना', 'त्रिशूल', 'HARIYANA',
       'GUJRAT', 'BELAUR', 'NIGOJ', 'MAHARASHTRA', 'TELANGANA', 'OM BSA',
       'गुजरात', 'कानपुर'], dtype=object)

In [55]:
df['Where did you work'].replace(['मुम्बई'], 'MUMBAI',inplace=True)

In [56]:
df['Where did you work'].replace(['तेलंगाना'], 'TELANGANA',inplace=True)

In [57]:
df['Where did you work'].replace(['MAJDUI'], 'MAJDURI',inplace=True)

In [58]:
df['Where did you work'].unique()

array([nan, 'MAJDURI', 'CENTRING', 'PAINTING', 'HOME', 'OTHER',
       'HAZI BABA', 'WAGE', 'D D CORE F6', 'ADIYA INTERPRIZE', 'PVT',
       'ACCAT COMPANEY', 'MUMBAI', 'BEGLORE', 'TRAK', 'सूरत', 'हैदराबाद',
       'TELANGANA', 'लुधियाना', 'त्रिशूल', 'HARIYANA', 'GUJRAT', 'BELAUR',
       'NIGOJ', 'MAHARASHTRA', 'OM BSA', 'गुजरात', 'कानपुर'], dtype=object)

In [59]:
df['Where did you work']=df['Where did you work'].fillna('OTHER')

In [60]:
df['Skill']=df['Skill'].fillna('Unknown')

In [61]:
df['Alternate Skill']=df['Alternate Skill'].fillna('None')

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 710 entries, 0 to 709
Data columns (total 13 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   S.No.                               710 non-null    int64
 1   District Name                       710 non-null    object
 2   Block Name                          710 non-null    object
 3   Migrant Age                         710 non-null    float64
 4   Migrant Gender                      710 non-null    object
 5   Migrant ID type                     710 non-null    object
 6   Date of Arrival                     710 non-null    object
 7   City Coming From                    710 non-null    object
 8   Health Check up when leaving city?  710 non-null    object
 9   Skill                               710 non-null    object
 10  Years of Experience                 710 non-null    float64
 11  Alternate Skill                     710 non-null    object
 12  Where did you work                  710 non-null    object
dtypes: float64(2), int64(1), object(10)
memory usage: 72.2+ KB

In [65]:
df.to_csv('newfile.csv')